{{extend 'layout.html'}}
{{
import sys
import os
import re
import gc
Methods = local_import('Methods', reload = True)
}}
<br />
<h2>
	<a href="{{=URL(r=request, f='firstlevel', vars=dict(id=result.id))}}">
	<font color=red>Clusters</font></a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="{{=URL(r=request, f='secondlevel', vars=dict(id=result.id))}}">
	Meta-clusters</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="{{=URL(r=request, f='overview', vars=dict(id=result.id))}}">
	All patterns as directed graph</a>
</h2>
<hr />

<script>
    $(function() {
        $('.filtering').click(function() {
	        var criteria = new Array();
	        var treatment = new Array();
			{{for i in range(numoftreat-1):}}
				criteria[{{=i}}] = $("#filter_criteria{{=i}}").val();
				treatment[{{=i}}] = $("#filter_treatment{{=i}}").val();
			{{pass}}
			var filter_url = "{{=URL(r=request, f='filteredpatterns', vars=dict(id=result.id))}}" + "&criteria=" + criteria
			 + "&treatments=" + treatment;

			window.open(filter_url, "_self");
        });
    });
</script>

<script>
    $(function() {
        $('.genelist').click(function() {
	        var genelist = $("#gene_list").val();
	        var genelist = $('#gene_list').val().split('\n');
			var filter_url = "{{=URL(r=request, f='filteredgenes', vars=dict(id=result.id))}}" + "&genelist=" + genelist;
			window.open(filter_url, "_self");
        });
    });
</script>

<table cellspacing="10">
	<tr>
		<td>
			<b>Find patterns which are:</b>
			<br />
			{{for i in range(numoftreat-1):}}
			<select id="filter_criteria{{=i}}" style="width: 200px">
				<option value="-2" selected="selected">All</option>
				<option value="-1">Affected</option>
				<option value="1">Not affected</option>
				<option value="2">Up-regulated</option>
				<option value="0">Down-regulated</option>
			</select>
			<b>by</b>
			<select id="filter_treatment{{=i}}" style="width: 200px">
				{{for j in range(numoftreat-1):}}
				<option value="{{=i}}">{{=nameoftreat[j+1]}}</option>
				{{pass}}
			</select>
			{{pass}}
			<br /><input type="button" value="Submit" class="filtering">
		</td>
		<td>
			<b>Find patterns for genes:</b>
			<select id="gene_id_type">
				<option value="0" selected="selected">Probe-set id</option>
				<option value="1">Gene symbol</option>
				<option value="2">UniGene ID</option>
				<option value="3">Representative Public ID</option>
				<option value="4">Other Information</option>
			</select>
			<br /><textarea rows="8" cols="20" id="gene_list"></textarea>
			<br /><input type="button" value="Submit" class="genelist">
		</td>
	</tr>
</table>
<br />

{{
Binaryarray = binary_dict.keys()
Binaryarray.sort(lambda a,b: cmp(int(a), int(b)))
}}
<i>Click on the header of each column to sort that column.
 Click on the pattern names to see more information.</i>
<br />
<br />
<table class="sortable" cellspacing="10">
	<tr>
		<td>
			<b>Pattern</b>
		</td>
		<td>
			<b>Number of Genes</b>
		</td>
		<td>
			<b>Pattern as directed graph</b>
		</td>
		<td>
			<b>Meta-cluster of pattern</b>
		</td>
	</tr>

{{
ids = 1

printedcompkey = []

for numkey in Binaryarray:

	key = binary_dict[numkey]
	compkey = Methods.comppattern(key)

	if key not in printedcompkey:
	    request.args = [result.id, key]
		metacluster = Methods.MetaCluster(nameoftreat, numoftreat, key)
		if Methods.Contractibility(numoftreat, key):
}}
	<tr>
		<td>
			{{=key}}
		</td>
		<td>
			{{=len(pattern_dict[key])}}
		</td>
		<td>
			<a href="{{=URL(r=request, f='pattern', vars=dict(id=result.id, p=key))}}">
			{{=Methods.ContractiveTopologicalSorting(numoftreat, nameoftreat, key)}}</a>
		</td>
		{{if metacluster == '':}}
		<td>
			<i>N/A</i>
		</td>
		{{else:}}
		<td>
			<a href="{{=URL(r=request, f='metacluster', vars=dict(id=result.id, sb=metacluster))}}">
			{{=metacluster}}</a>
		</td>
		{{pass}}
	</tr>
		{{else:}}
	<tr>
		<td>
			{{=key}}
		</td>
		<td>
			{{=len(pattern_dict[key])}}
		</td>
		<td>
			<a href="{{=URL(r=request, f='pattern', vars=dict(id=result.id, p=key))}}">
			<i>Not contractible</i></a>
		</td>
		{{if metacluster == '':}}
		<td>
			<i>N/A</i>
		</td>
		{{else:}}
		<td>
			<a href="{{=URL(r=request, f='metacluster', vars=dict(id=result.id, sb=metacluster))}}">
			{{=metacluster}}</a>
		</td>
		{{pass}}
	</tr>
		{{pass}}
		
		{{
		ids = ids + 1
    
		if compkey in pattern_dict.keys():
		        request.args = [result.id, compkey]
			metacluster = Methods.MetaCluster(nameoftreat, numoftreat, compkey)
			if Methods.Contractibility(numoftreat, compkey):
		}}
	<tr>
		<td>
			{{=compkey}}
		</td>
		<td>
			{{=len(pattern_dict[compkey])}}
		</td>
		<td>
			<a href="{{=URL(r=request,f='pattern', vars=dict(id=result.id, p=compkey))}}">
			{{=Methods.ContractiveTopologicalSorting(numoftreat, nameoftreat, compkey)}}</a>
		</td>
		{{if metacluster == '':}}
		<td>
			<i>N/A</i>
		</td>
		{{else:}}
		<td>
			<a href="{{=URL(r=request, f='metacluster', vars=dict(id=result.id, sb=metacluster))}}">
			{{=metacluster}}</a>
		</td>
		{{pass}}
	</tr>
			{{else:}}
	<tr>
		<td>
			{{=compkey}}
		</td>
		<td>
			{{=len(pattern_dict[compkey])}}
		</td>
		<td>
			<a href="{{=URL(r=request,f='pattern', vars=dict(id=result.id, p=compkey))}}">
			<i>Not contractible</i></a>
		</td>
		{{if metacluster == '':}}
		<td>
			<i>N/A</i>
		</td>
		{{else:}}
		<td>
			<a href="{{=URL(r=request, f='metacluster', vars=dict(id=result.id, sb=metacluster))}}">
			{{=metacluster}}</a>
		</td>
		{{pass}}
	</tr>
			{{pass}}

			{{
	        	printedcompkey.append(compkey)
			ids = ids + 1

		pass

	pass

pass
}}

</table>
