{{extend 'layout.html'}}

<p>
<a name="software"></a>
<!--
<h3>Personal version (running on a Windows computer)</h3>

The followings are needed for a personal Windows-version of mDAG:
<ul>
  <li><a href="http://python.org/download">Python 2.6+</a></li>
  <li><a href="http://www.graphviz.org/Download..php">Graphviz</a></li>
  <li><a href="{{=URL(request.application, 'static/downloads', 'mDAG-web2py-windows.tar.gz')}}">mDAG</a></li>
</ul>
</p>

<p>
<h3>Group-sharing version (running on a Linux server)</h3>
-->

<h3>Personal version of mDAG (running on a Linux computer)</h3>
<i>The followings are needed for a personal Linux-version of mDAG, please choose a proper package for your computer:</i>
<ul>
  <li><a href="http://python.org/download">Python 2.6+ (for Linux)</a></li>
  <li><a href="http://www.graphviz.org/Download..php">Graphviz (for Linux)</a></li>
  <li><a href="{{=URL(request.application, 'static/downloads', 'mdag-linux.tar.gz')}}">mDAG (for Linux)</a></li>
</ul>

<i>Installing mDAG:</i>
<ul>
  <li>Install Python, Graphviz.</li>
  <li>Download the mDAG software and extract into a directory, for example /home/, the result will be the directory /home/mdag</li>
  <li>Go to /home/mdag and run mDAG internal server as following: python web2py.py</li>
  <li>Enter a password for this server and press "start server", the mdag website will display in your default web browser.</li>
  <li>Follow the instruction in the website.</li>
</ul>

<a name="sampledata"></a>
<br />
<h3>Sample datasets:</h3>
<i>We supply here some sample datasets (text files):</i>
<br />
<table>
    <tr>
    	<td><b>Dataset</b><td>
    	<td><b>Description</b></td>
    </tr>
{{i=0}}
{{for dataset in datasets:}}
    {{i=i+1}}
    <tr>
	{{file_name, file_new_name = db.sampledata.file_name.retrieve(dataset.file_name)}}
    	<td width="40%">({{=i}}) <a href="{{=URL(r=request, f='download', args=dataset.file_name)}}">{{=file_name}}</a><td>
    	<td width="60%">{{=dataset.description}}</td>
    </tr>
{{pass}}
</table>
<br />
<a href="http://www.broadinstitute.org/gsea/datasets.jsp">Additional data sets </a> (they should be adapted to <a href="{{=URL(c='others', f='data')}}">mDAG format</a>).
