{{extend 'layout.html'}}

<br />
<b>The details of the method and related works can be found in these papers:</b>
<p>

<ul>
  <li>V. Phan, E.O. George, Q.T. Tran, S. Goodwin, S. Boddreddigari, T.R. Sutter, 2009. 
    “Analyzing Microarray Data with Transitive Directed Acyclic Graphs”,
    <i>Journal of Bioinformatics and Computational Biology</i>, 7(1):135-156.
    (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2743182/">URL</a>)</li>

  <li>Q.T. Tran, X. Lijing, V. Phan, S. Goodwin, M. Rahman, V. Jin, C.H. Sutter,
    B. Roebuck, T. Kensler, E.O. George, T.R. Sutter, 2009. 
    "Chemical genomics of cancer chemopreventive dithiolethiones", 
    <i>Carcinogenesis</i>, 30(3):480-486.
    (<a href="http://carcin.oxfordjournals.org/cgi/content/full/30/3/480">URL</a>)</li>

  <li>Sutter TR, He XR, Dimitrov P, et al. 
    "Multiple comparisons model-based clustering and ternary pattern tree numerical 
    display of gene response to treatment: Procedure and application to the preclinical 
    evaluation of chemopreventive agents", 2002. 
    <i>Mol Cancer Ther.</i> 1(14):1283–1292.
    (<a href="http://mct.aacrjournals.org/content/1/14/1283.long">URL</a>)</li>
</ul>

<p>
<h3>Contacts</h3>
<p>
<ul>
<li>Vinhthuy Phan, vphan@memphis.edu</li>
<li>Thomas Sutter, tsutter@memphis.edu</li>
<li>Nam Sy Vo, nsvo1@memphis.edu</li>
</ul>
</p>
